html, body{
    height:auto;
    background-color: #9e9e9e;
    overflow: auto;    
}
.scrollable {
    position:inherit;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  @media screen and (max-width: 760px){
  
      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr { 
          display: block; 
      }
      
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      
      tr { border: 1px solid #ccc; }
      
      td { 
          border: none;
          border-bottom: 1px solid #eee; 
          position: relative;
          padding-left: 50%; 
      }
      
      td:before { 
          position: absolute;
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
      }
      td:nth-of-type(1):before { content: "comprobante"; }
      td:nth-of-type(2):before { content: "Categoria"; }
      td:nth-of-type(3):before { content: "Descripción"; }
      td:nth-of-type(4):before { content: "Fecha"; }
      td:nth-of-type(5):before { content: "Valor"; }
  }
section {
    background-color: #9e9e9e !important;
    height: 100%;
    width: 100%;
}
.size-profile-Truck{
    width: 50%;
    height: auto;
}
.newsfeed{
    padding: 0 30px;
}
.card1{
    width:100%;
    height:100%;
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 14px;
}
.card1 .picture{
    background-position: 50%;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.card1 .content1{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}
.card1 .header{
    display: flex;
    align-items: center;
}
.card1 .profile-pic{
    background-position: 50%;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.card1 .detail{
    margin-left: 10px;
}
.card1 .posted{
    font-size: 10px;
    padding-top: 3px;
}
.card1 .footer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.card1 .footer .liquidation{
    flex: 0 0 1;
}
.card1 .footer .spend{
    flex: 0 0 1;
}
.card1 .footer i{
    padding-right: 3px;
}

.nav-link {
    padding: 0rem 1rem !important;
}

.secundary-menu {
    display: none;
}

.btn-sign-in {
    text-align: right;
    margin-top: 5%;
    display: block;
    margin-bottom: 4%;
}

.invisible {
    display: none;
}

.dropdown-register {
    width: 100%;
    margin-top: 2%;
}

.btn-look {
    margin-top: 2%;
}

.input-account-recovery-div {
    margin-bottom: 12%;
}

#logo {
    width: 100px;
    height: 60px;
}

#icono-sign-in {
    margin-top: 2%;
    margin-bottom: 2%;
}

#create-truck {
    padding-top: 2%;
}

#account-recovery {
    padding-top: 5%;
}

#forgot-password {
    color: black;
    margin-right: 5%;
}

#forgot-password:hover {
    color: gray;
    text-decoration: underline;
}

#sign-up-link {
    color: black;
}

#sign-up-link:hover {
    color: gray;
    text-decoration: underline;
}

#container-sign-in {
    background-color: white;
    display: block;
    width: 50%;
    height: 73%;
    text-align: center;
    margin-left: 25%;
    padding: 0% 10% 0% 10%;
}

#sign-in {
    align-items: center;
    padding-top: 5%;
}

#register {
    text-align: center;
    padding-top: 2.5%;
}

#icono-register {
    width: 30%;
}

#container-title-register {
    width: 100%;
    text-align: left;
    margin-bottom: 5%;
}

#input-register-password2 {
    margin-bottom: 5%;
}

#container-register {
    width: 50%;
    height: 96%;
    display: block;
    background-color: white;
    text-align: center;
    padding: 2% 10% 0% 10%;
    margin-left: 25%;
}
#container-register {
    width: 50%;
    height: auto;
    display: block;
    background-color: white;
    text-align: center;
    padding: 2% 10% 0% 10%;
    margin-left: 25%;
}
#container-account-recovery {
    background-color: white;
    display: block;
    width: 50%;
    height: 63%;
    text-align: center;
    margin-left: 25%;
    padding: 0% 10% 0% 10%;
}
.position-element{
    text-align: left;
    right:50%;
}
#title-register {
    font-size: 2rem;
    margin-left: 10%;
}
#size-string-travel {
    text-align: left;
}
#forgot-password-responsive {
    display: none;
    color: black;
}

#forgot-password-responsive:hover {
    color: gray;
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .secundary-menu {
        display: inline;
        margin-bottom: 8%;
    }
    .navbar {
        padding: 0rem 1rem;
    }
    #logo {
        height: 49px;
        margin-top: -42%;
    }
}

@media screen and (max-width: 700px) {
    #icono-sign-in {
        margin-top: 22%;
        width: 97%;
    }
    #input-create-truck-kilometraje {
        margin-bottom: 9%;
    }
    #container-account-recovery {
        width: 70%;
        margin-left: 15%;
    }
    #input-register-password2 {
        margin-bottom: 5%;
    }
    #create-truck {
        padding-top: 15%;
    }
    #container-register {
        width: 80%;
        height: 80%;
        margin-left: 10%;
    }
    #container-sign-in {
        width: 70%;
        margin-left: 15%;
    }
    #register {
        padding-top: 18%;
    }
    #forgot-password-responsive {
        display: block;
    }
    #forgot-password {
        display: none;
    }
    #div-sign-up-link {
        margin-top: 10%;
    }
    .btn-sign-in {
        text-align: center;
    }
    .btn-sign-in {
        margin-bottom: 15%;
    }
}

@media screen and (max-width: 550px) {
    #icono-sign-in {
        width: 55%;
    }
    #register {
        padding-top: 5%;
    }
    #create-truck {
        padding-top: 3%;
    }
    #container-register {
        height: 85%;
    }
    #container-account-recovery {
        height: 53%;
    }
}
