html, body{
    height:auto;
    background-color: #9e9e9e;
    overflow: auto;    
}
.scrollable {
    position:inherit;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  @media screen and (max-width: 760px){
  
      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr { 
          display: block; 
      }
      
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      
      tr { border: 1px solid #ccc; }
      
      td { 
          border: none;
          border-bottom: 1px solid #eee; 
          position: relative;
          padding-left: 50%; 
      }
      
      td:before { 
          position: absolute;
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
      }
      td:nth-of-type(1):before { content: "comprobante"; }
      td:nth-of-type(2):before { content: "Categoria"; }
      td:nth-of-type(3):before { content: "Descripción"; }
      td:nth-of-type(4):before { content: "Fecha"; }
      td:nth-of-type(5):before { content: "Valor"; }
  }
section {
    background-color: #9e9e9e !important;
    height: 100%;
    width: 100%;
}
.size-profile-Truck{
    width: 50%;
    height: auto;
}
.newsfeed{
    padding: 0 30px;
}
.card1{
    width:100%;
    height:100%;
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 14px;
}
.card1 .picture{
    background-position: 50%;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.card1 .content1{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}
.card1 .header{
    display: flex;
    align-items: center;
}
.card1 .profile-pic{
    background-position: 50%;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.card1 .detail{
    margin-left: 10px;
}
.card1 .posted{
    font-size: 10px;
    padding-top: 3px;
}
.card1 .footer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.card1 .footer .liquidation{
    flex: 0 0 1;
}
.card1 .footer .spend{
    flex: 0 0 1;
}
.card1 .footer i{
    padding-right: 3px;
}

.headerToDo{
    width:100%;
    height: 244px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: orange;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.noFill{
    fill: none;
}
.headerToDo #inputCount{
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 600px 10 0; 
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    font-family: 'Roboto', sans-serif;

}
.headerToDo button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 71%;
    right: 15px;
    z-index: 2;
    appearance: none;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

}
.headerToDo button svg{
    width: 16px;
    height: 16px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
.headerToDo button svg .fill{
    fill: orange;
}
#image-tolls{
    margin: auto;
    display: block;
}
#select-file{
    position: relative;
    padding: 0px;
    width: 133px;
    margin: -18px;
    top: -10px;
    background:transparent;
}
#title-tolls{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
#select-file #file-tolls{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;

}
#legalization-tolls{
    padding: 240px 0 0 0;
}
#legalization-fuel{
    padding: 240px 0 0 0;
}
#legalization-parking{
    padding: 240px 0 0 0;
}
.allListItms{
    width: 100%;
    float: left;
    padding: 15px;
}
.allCard{
    width: 100%;
    float: left;

}
ul.allCard li{
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;    
}
ul.allCard li:last-of-type{
    margin: 0;
}
ul.allCard li .buttons{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 33px;
    right: 0;
}
ul.allCard li .contentCard{
    width: 240px;
    height: 100px;
    position: relative;
    top:0px;
    left: 0;
}
ul.allCard li .contentCard .imageBasic{
    width: 100px;
    height: 100px;
    background-image: url('../img/basicImage.png');
    background-repeat: no-repeat;
    position: relative;
    float: left;
}
ul.allCard li .contentCard .valueBasic{
    width: 80px;
    height: 50px;
    position: relative;
    float: left;
    top: 35px;
}
ul.allCard li .buttons button{
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    background: none;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}
ul.allCard li .buttons button:last-of-type:before{
content: '';
width: 1px;
height: 30px;
position: absolute;
top: 10px;
left: 0;
background: #edf0f1;
}
ul.allCard li .buttons button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}
ul.allCard li .buttons button svg .fill{
    transition: fill 0.2s ease;
}
ul.allCard li .buttons button.remove svg .fill{
    fill:#c0cecb;
}
ul.allCard li .buttons button.remove:hover svg .fill{
    fill:#e85656;
}



.headerToDo1{
    width:100%;
    height: 244px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: orange;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.headerToDo1 #inputCount1{
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 600px 10 0; 
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    font-family: 'Roboto', sans-serif;

}
.headerToDo1 button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 71%;
    right: 15px;
    z-index: 2;
    appearance: none;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

}
.headerToDo1 button svg{
    width: 16px;
    height: 16px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
.headerToDo1 button svg .fill{
    fill: orange;
}
#image-tolls1{
    margin: auto;
    display: block;
}
#select-file1{
    position: relative;
    padding: 0px;
    width: 133px;
    margin: -18px;
    top: -10px;
    background:transparent;
}
#title-tolls1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
#select-file1 #file-tolls1{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#legalization-fuel{
    padding: 240px 0 0 0;
}
.allListItms1{
    width: 100%;
    float: left;
    padding: 15px;
}
.allCard1{
    width: 100%;
    float: left;

}
ul.allCard1 li{
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;    
}
ul.allCard1 li:last-of-type{
    margin: 0;
}
ul.allCard1 li .buttons1{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 33px;
    right: 0;
}
ul.allCard1 li .contentCard1{
    width: 240px;
    height: 100px;
    position: relative;
    top:0px;
    left: 0;
}
ul.allCard1 li .contentCard1 .imageBasic1{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}
ul.allCard1 li .contentCard1 .valueBasic1{
    width: 80px;
    height: 50px;
    position: relative;
    float: left;
    top: 35px;
}
ul.allCard1 li .buttons1 button{
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    background: none;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}
ul.allCard1 li .buttons1 button:last-of-type:before{
content: '';
width: 1px;
height: 30px;
position: absolute;
top: 10px;
left: 0;
background: #edf0f1;
}
ul.allCard1 li .buttons1 button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}
ul.allCard1 li .buttons1 button svg .fill{
    transition: fill 0.2s ease;
}
ul.allCard1 li .buttons1 button.remove1 svg .fill{
    fill:#c0cecb;
}
ul.allCard1 li .buttons1 button.remove1:hover svg .fill{
    fill:#e85656;
}

.headerToDo2{
    width:100%;
    height: 244px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: orange;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.headerToDo2 #inputCount2{
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 600px 10 0; 
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    font-family: 'Roboto', sans-serif;

}
.headerToDo2 button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 71%;
    right: 15px;
    z-index: 2;
    appearance: none;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

}
.headerToDo2 button svg{
    width: 16px;
    height: 16px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
.headerToDo2 button svg .fill{
    fill: orange;
}
#image-tolls2{
    margin: auto;
    display: block;
}
#select-file2{
    position: relative;
    padding: 0px;
    width: 133px;
    margin: -18px;
    top: -10px;
    background:transparent;
}
#title-tolls2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
#select-file2 #file-tolls2{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#legalization-parking{
    padding: 240px 0 0 0;
}
.allListItms2{
    width: 100%;
    float: left;
    padding: 15px;
}
.allCard2{
    width: 100%;
    float: left;

}
ul.allCard2 li{
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;    
}
ul.allCard2 li:last-of-type{
    margin: 0;
}
ul.allCard2 li .buttons2{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 33px;
    right: 0;
}
ul.allCard2 li .contentCard2{
    width: 240px;
    height: 100px;
    position: relative;
    top:0px;
    left: 0;
}
ul.allCard2 li .contentCard2 .imageBasic2{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}
ul.allCard2 li .contentCard2 .valueBasic2{
    width: 80px;
    height: 50px;
    position: relative;
    float: left;
    top: 35px;
}
ul.allCard2 li .buttons2 button{
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    background: none;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}
ul.allCard2 li .buttons2 button:last-of-type:before{
content: '';
width: 1px;
height: 30px;
position: absolute;
top: 10px;
left: 0;
background: #edf0f1;
}
ul.allCard2 li .buttons2 button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}
ul.allCard2 li .buttons2 button svg .fill{
    transition: fill 0.2s ease;
}
ul.allCard2 li .buttons2 button.remove2 svg .fill{
    fill:#c0cecb;
}
ul.allCard2 li .buttons2 button.remove2:hover svg .fill{
    fill:#e85656;
}

.headerToDo3{
    width:100%;
    height: 244px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: orange;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.headerToDo3 #inputCount3{
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 600px 10 0; 
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    font-family: 'Roboto', sans-serif;

}
.headerToDo3 button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 71%;
    right: 15px;
    z-index: 2;
    appearance: none;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

}
.headerToDo3 button svg{
    width: 16px;
    height: 16px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
.headerToDo3 button svg .fill{
    fill: orange;
}
#image-tolls3{
    margin: auto;
    display: block;
}
#select-file3{
    position: relative;
    padding: 0px;
    width: 133px;
    margin: -18px;
    top: -10px;
    background:transparent;
}
#title-tolls3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
#select-file3 #file-tolls3{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#legalization-washed{
    padding: 240px 0 0 0;
}
.allListItms3{
    width: 100%;
    float: left;
    padding: 15px;
}
.allCard3{
    width: 100%;
    float: left;

}
ul.allCard3 li{
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;    
}
ul.allCard3 li:last-of-type{
    margin: 0;
}
ul.allCard3 li .buttons3{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 33px;
    right: 0;
}
ul.allCard3 li .contentCard3{
    width: 240px;
    height: 100px;
    position: relative;
    top:0px;
    left: 0;
}
ul.allCard3 li .contentCard3 .imageBasic3{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}
ul.allCard3 li .contentCard3 .valueBasic3{
    width: 80px;
    height: 50px;
    position: relative;
    float: left;
    top: 35px;
}
ul.allCard3 li .buttons3 button{
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    background: none;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}
ul.allCard3 li .buttons3 button:last-of-type:before{
content: '';
width: 1px;
height: 30px;
position: absolute;
top: 10px;
left: 0;
background: #edf0f1;
}
ul.allCard3 li .buttons3 button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}
ul.allCard3 li .buttons3 button svg .fill{
    transition: fill 0.2s ease;
}
ul.allCard3 li .buttons3 button.remove3 svg .fill{
    fill:#c0cecb;
}
ul.allCard3 li .buttons3 button.remove3:hover svg .fill{
    fill:#e85656;
}
.headerToDo4{
    width:100%;
    height: 320px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: orange;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.headerToDo4 #inputCount4{
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 600px 10 0; 
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    font-family: 'Roboto', sans-serif;
}
.headerToDo4 #inputOption{
    width: 100%;
    height: 50px;
    color: #fff;
    background: rgba(245, 181, 7, 0.7);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
.headerToDo4 button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 76%;
    right: 16px;
    z-index: 2;
    appearance: none;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

}
.headerToDo4 button svg{
    width: 16px;
    height: 16px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
.headerToDo4 button svg .fill{
    fill: orange;
}
#image-tolls4{
    margin: auto;
    display: block;
}
#select-file4{
    position: relative;
    padding: 0px;
    width: 133px;
    margin: -18px;
    top: -10px;
    background:transparent;
}
#title-tolls4{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
#select-file4 #file-tolls4{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#legalization-others{
    padding: 240px 0 0 0;
}
.allListItms4{
    width: 100%;
    float: left;
    padding: 15px;
}
.allCard4{
    width: 100%;
    float: left;

}
ul.allCard4 li{
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;    
}
ul.allCard4 li:last-of-type{
    margin: 0;
}
ul.allCard4 li .buttons4{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 33px;
    right: 0;
}
ul.allCard4 li .contentCard4{
    width: 240px;
    height: 100px;
    position: relative;
    top:0px;
    left: 0;
}
ul.allCard4 li .contentCard4 .imageBasic4{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}
ul.allCard4 li .contentCard4 .valueBasic4{
    width: 80px;
    height: 50px;
    position: relative;
    float: left;
    top: 35px;
}
ul.allCard4 li .buttons4 button{
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    background: none;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}
ul.allCard4 li .buttons4 button:last-of-type:before{
content: '';
width: 1px;
height: 30px;
position: absolute;
top: 10px;
left: 0;
background: #edf0f1;
}
ul.allCard4 li .buttons4 button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}
ul.allCard4 li .buttons4 button svg .fill{
    transition: fill 0.2s ease;
}
ul.allCard4 li .buttons4 button.remove4 svg .fill{
    fill:#c0cecb;
}
ul.allCard4 li .buttons4 button.remove4:hover svg .fill{
    fill:#e85656;
}

.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:orange;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:14px;
}
.my-float1{
	margin-top:24px;
}
.nav-link {
    padding: 0rem 1rem !important;
}

.secundary-menu {
    display: none;
}

.btn-sign-in {
    text-align: right;
    margin-top: 5%;
    display: block;
    margin-bottom: 4%;
}

.invisible {
    display: none;
}

.dropdown-register {
    width: 100%;
    margin-top: 2%;
}

.btn-look {
    margin-top: 2%;
}

.input-account-recovery-div {
    margin-bottom: 12%;
}

#logo {
    width: 100px;
    height: 60px;
}

#icono-sign-in {
    margin-top: 2%;
    margin-bottom: 2%;
}

#create-truck {
    padding-top: 2%;
}

#account-recovery {
    padding-top: 5%;
}

#forgot-password {
    color: black;
    margin-right: 5%;
}

#forgot-password:hover {
    color: gray;
    text-decoration: underline;
}

#sign-up-link {
    color: black;
}

#sign-up-link:hover {
    color: gray;
    text-decoration: underline;
}

#container-sign-in {
    background-color: white;
    display: block;
    width: 50%;
    height: 73%;
    text-align: center;
    margin-left: 25%;
    padding: 0% 10% 0% 10%;
}

#sign-in {
    align-items: center;
    padding-top: 5%;
}

#register {
    text-align: center;
    padding-top: 2.5%;
}

#icono-register {
    width: 30%;
}

#container-title-register {
    width: 100%;
    text-align: left;
    margin-bottom: 5%;
}

#input-register-password2 {
    margin-bottom: 5%;
}

#container-register {
    width: 50%;
    height: 96%;
    display: block;
    background-color: white;
    text-align: center;
    padding: 2% 10% 0% 10%;
    margin-left: 25%;
}
#container-register {
    width: 50%;
    height: auto;
    display: block;
    background-color: white;
    text-align: center;
    padding: 2% 10% 0% 10%;
    margin-left: 25%;
}
#container-account-recovery {
    background-color: white;
    display: block;
    width: 50%;
    height: 63%;
    text-align: center;
    margin-left: 25%;
    padding: 0% 10% 0% 10%;
}
.position-element{
    text-align: left;
    right:50%;
}
#title-register {
    font-size: 2rem;
    margin-left: 10%;
}
#size-string-travel {
    text-align: left;
}
#forgot-password-responsive {
    display: none;
    color: black;
}

#forgot-password-responsive:hover {
    color: gray;
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .secundary-menu {
        display: inline;
        margin-bottom: 8%;
    }
    .navbar {
        padding: 0rem 1rem;
    }
    #logo {
        height: 49px;
        margin-top: -42%;
    }
}

@media screen and (max-width: 700px) {
    #icono-sign-in {
        margin-top: 22%;
        width: 97%;
    }
    #input-create-truck-kilometraje {
        margin-bottom: 9%;
    }
    #container-account-recovery {
        width: 70%;
        margin-left: 15%;
    }
    #input-register-password2 {
        margin-bottom: 5%;
    }
    #create-truck {
        padding-top: 15%;
    }
    #container-register {
        width: 80%;
        height: 80%;
        margin-left: 10%;
    }
    #container-sign-in {
        width: 70%;
        margin-left: 15%;
    }
    #register {
        padding-top: 18%;
    }
    #forgot-password-responsive {
        display: block;
    }
    #forgot-password {
        display: none;
    }
    #div-sign-up-link {
        margin-top: 10%;
    }
    .btn-sign-in {
        text-align: center;
    }
    .btn-sign-in {
        margin-bottom: 15%;
    }
}

@media screen and (max-width: 550px) {
    #icono-sign-in {
        width: 55%;
    }
    #register {
        padding-top: 5%;
    }
    #create-truck {
        padding-top: 3%;
    }
    #container-register {
        height: 85%;
    }
    #container-account-recovery {
        height: 53%;
    }
}
